@import './Common.scss';

.complete {
    
    span{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }

    div{
        width: 100%;
        text-align: center;

        span:first-child {
            color: $color-principal;
            font-weight: bold;
        }
        
        span:last-child{
            scale: 0.65;
            color: $color-gris-claro;
            font-weight: 500;
        }
    }
}